*
{
    // border: 1px solid blue ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sec_cont
{
    border: 1px solid red;
    display: grid;
    justify-content: center;
    align-items: center;


}